body {
  text-align: center;
  color: black;
}

nav {
  background: #ffff;
}

.hero h1 {
  font-family: "DM Serif Display", serif;
  font-size: 120px;
}

.hero h1:hover {
  color: #dc886b;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.hero h6 {
  font-family: "Questrial", sans-serif;
}

.hero nav {
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h4 {
    font-size: 20px;
  }
  .hero h6 {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 17px;
  }
}

.greeting {
  color: #dc886b;
}

.text-design {
  font-family: "Flow Circular", cursive;
  font-size: 10px;
}

.navbar-brand {
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  position: relative;
  left: 20px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  padding: 160px 20px;
}

.contact-button {
  margin-top: 20px;
  padding: 11px;
}
