body {
  text-align: center;
  color: black;
}

nav {
  background: #ffff;
}

h2 {
  font-family: var(--serif-font);
}

img {
  padding-top: 40px;
  padding-bottom: 40px;
}

.project-preface {
  font-family: var(--body-font);
  padding: 10px;
  outline: 1.5px solid black;
  width: 400px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}

:root {
  --main-color: #dc886b;
  --serif-font: "DM Serif Display", serif;
  --body-font: "Questrial", sans-serif;
}

.hero h1 {
  font-family: var(--serif-font);
  font-size: 120px;
}

.hero h1:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.hero h6 {
  font-family: var(--body-font);
}

.hero nav {
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h4 {
    font-size: 20px;
  }
  .hero h6 {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 17px;
  }
  .project-preface {
    font-size: 10px;
    width: 250px;
  }

  .project-text a {
    display: block;
    margin: 0 auto;
  }

  .project-description {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .project-text {
    margin: 0 auto;
  }
}

.greeting {
  color: #dc886b;
}

.text-design {
  font-family: "Flow Circular", cursive;
  font-size: 10px;
}

.navbar-brand {
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  position: relative;
  left: 20px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  padding: 160px 20px;
  margin: 0 auto;
}

.contact-button {
  margin-top: 20px;
  padding: 11px;
}

.project-text {
  padding: 20px;
  text-align: left;
}

.project-title {
  padding-bottom: 25px;
  text-align: left;
}

.project-description {
  margin-bottom: 30px;
}

.navbar-nav {
  position: relative;
  left: 20px;
}
