body {
  text-align: center;
  color: black;
}

nav {
  background: #ffff;
}

h2 {
  font-family: var(--serif-font);
}

img {
  padding-top: 40px;
  padding-bottom: 40px;
}

h4 {
  font-family: var(--serif-font);
}

h5 {
  text-align: left;
}

h6 {
  text-align: center;
}

footer .contact-box {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  padding: 30px 60px;
  max-width: 900px;
  position: relative;
  top: 15px;
}

footer .work-inquiry-button {
  position: relative;
  top: 10px;
}

footer {
  font-family: var(--body-font);
  margin-bottom: 65px;
  margin-top: 20px;
}

footer .work-inquiry {
  font-family: var(--serif-font);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500px;
}

footer .email-link:hover {
  transition: 200ms all ease-in-out;
  color: var(--main-color);
}

footer .social-links {
  margin-top: 15px;
}

.fab {
  margin: 10px;
  color: black;
}

.fab:hover {
  transition: 200ms all ease-in-out;
  color: var(--main-color);
}

.selfie {
  border-radius: 10%;
  margin-top: 20px;
}

.project-preface {
  font-family: var(--body-font);
  padding: 10px;
  outline: 1.5px solid black;
  width: 400px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}

:root {
  --main-color: #dc886b;
  --serif-font: "DM Serif Display", serif;
  --body-font: "Questrial", sans-serif;
}

.hero h1 {
  font-family: var(--serif-font);
  font-size: 120px;
}

.hero h1:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.hero h6 {
  font-family: var(--body-font);
}

.hero nav {
  margin-bottom: 60px;
}

@media (min-width: 576px) {
  img {
    width: 500px;
  }
  .work-header {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .about-greeting {
    font-size: 70px;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h4 {
    font-size: 20px;
  }
  .hero h6 {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 17px;
  }
  .project-preface {
    font-size: 10px;
    width: 250px;
  }

  .project-text a {
    display: block;
    margin: 0 auto;
  }

  .project-description {
    font-size: 13px;
    text-align: center;
  }

  .about-text {
    font-size: 10px;
  }

  .about-text-section {
    display: block;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .project-text {
    margin: 0 auto;
  }
}

.greeting {
  color: #dc886b;
}

.text-design {
  font-family: "Flow Circular", cursive;
  font-size: 10px;
}

.navbar-brand {
  font-family: "DM Serif Display", serif;
  font-weight: bolder;
  position: relative;
  left: 20px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  padding: 160px 20px;
  margin: 0 auto;
}

.contact-button {
  margin-top: 20px;
  padding: 11px;
}

.project-text {
  padding: 20px;
  text-align: left;
}

.project-title {
  padding-bottom: 25px;
  text-align: left;
}

.project-description {
  margin-bottom: 30px;
}

.navbar-nav {
  position: relative;
  left: 20px;
}

.about-section {
  margin: 0 auto;
  margin-top: 20px;
}

.about-greeting {
  margin-top: 60px;

  font-family: var(--serif-font);
  text-align: center;
}

.about-greeting:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.about-name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.name {
  color: var(--main-color);
  font-weight: 100;
  font-family: var(--serif-font);
}

.about-text {
  font-family: var(--body-font);
  text-align: center;
  padding: 10px;
}

.work-header {
  font-family: var(--serif-font);
  margin-top: 50px;
  text-align: center;
  padding: 20px;
}

.work-description {
  font-family: var(--body-font);
}

.project-wrap {
  padding: 30px;
}

.social-media-wrap {
  padding: 20px;
}

.social-media {
  font-family: var(--serif-font);
  margin-bottom: 10px;
}

.btn {
  font-size: 15px;
}
